body {
  margin: 0;
}

.main-div {
  padding: 5% 10%;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

.header li {
  padding: 5px;
}

.header div,
.header ul {
  padding: 1px 10%;
}

.header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  margin: 15px 0px;
  font-size: 24px;
  color: #f9faf8;
}

ul a {
  color: inherit;
}

.hero {
  display: flex;
  padding: 5% 10%;
}

.hero #main-text,
.hero #secondary-text {
  margin: 15px auto;
}

.hero #main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero #secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.signup {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 20%;
  height: 10%;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.hero img {
  height: 250px;
  width: auto;
  margin-left: 20px;
  margin-right: 0;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.information .gallery {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.information .container {
  width: 150px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.subtext {
  text-align: center;
}

.information img {
  height: 150px;
  width: 150px;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
}

#quote {
  padding: 5%;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

#author {
  text-align: right;
  padding-right: 10%;
  padding-left: auto;
  font-size: 25px;
  font-weight: bold;
}
